This is a project website for creating tasks, subtasks and tracking the progress for them.

Main features:
1) identify yourself / log in //CHECK
a) separate routes for register and login // CHECK
b) save passwords in hash. use json in txt //CHECK
c) Validate data for login //CHECK
d) protect unauthorized routes
e) create sessions
f) associate projects with users

2) Ability to create tasks
a) figure out the structure of the dashboard

3) To do lists in the tasks, description and estimated/remaining time

4) deploy it on AWS
