<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div>
      <h1>Welcome to the Project Planning Website</h1>
      <form action="/add" method="post">
        <div>
          <label> Enter the task</label>
          <input type="text" name="name">
          <button type="submit">Add task</button>
        </div>
      </form><br><br>
      <table>
        <tbody>
        {%for todo in todo_list%}
        <tr>
          <td>{{todo.id}}</td>
          <td>{{todo.name}}</td>
          {%if todo.done==False%}
          <td>Not Done</td>
          {%else%}
          <td>Done</td>
          {%endif%}
          <td><a href="/update/{{todo.task.id}}">Update</a> </td>
          <td><a href="/delete/{{todo.task.id}}">Delete</a> </td>
        </tr>
        {%endfor%}
        </tbody>
      </table>

    </div>
  </body>
</html>